{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-flow"
    ],
    "plugins": [
        [
            "@babel/transform-runtime",
            {
                "corejs": false,
                "helpers": true,
                "regenerator": false,
                "useESModules": true
            }
        ],
        [
            "istanbul"
        ]
    ]
}